/* General */

body {
    font-family: 'Playfair Display', Arial, sans-serif !important;
    background-image: url(../images/brownpawprints.jpg);
}

.container {
    margin-top: 40px;
    max-width: 1100px;
    width: auto;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.center-header {
        text-align: center;

} 
.center-header.md {
     position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

/* Navigation */

.navbar {
    background-color: #989495;
}

.card-header {
    background-color: #dbd7d8;
}

.card-header .btn {
    color: black;
    text-decoration-line: underline;
}

/* Image Slider */
.carousel h5, .carousel p {
    display: inline;
}

.carousel img {
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.flex-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background: rgba(152, 148, 149, .8);
    z-index: 1;
    padding: 10px;
    margin: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Website Highlight Points Styling */

.sad-mauve {
    background-color: #917876;
    color: white;
}

.charcoal {
    background-color: #595149;
    color: white;
}

#team img {
    max-width: 100%;
}

/* HTML Table Formatting */

.table_1 tr td:nth-child(1) {
    text-align: left;
}
.table_1 tr td:nth-child(3) {
    text-align: left;
}
.table_1 tr th:nth-child(1) {
    text-align: left;
}
.table_1 tr th:nth-child(3) {
    text-align: left;
}

.table_2 tr td:nth-child(1) {
    text-align: left;
}
.table_2 tr td:nth-child(4) {
    text-align: left;
}
.table_2 tr th:nth-child(1) {
    text-align: left;
}
.table_2 tr th:nth-child(4) {
    text-align: left;
}

.table_3 tr td:nth-child(1) {
    text-align: left;
}
.table_3 tr th:nth-child(1) {
    text-align: left;
}

.table_4 tr td:nth-child(1) {
    text-align: left;
}
.table_4 tr td:nth-child(4) {
    text-align: left;
}
.table_4 tr th:nth-child(1) {
    text-align: left;
}
.table_4 tr th:nth-child(4) {
    text-align: left;
}

/* Data Analysis Table Images */
#data_analysis img {
    max-width: 450px;
    width: auto;
    height: auto;
}

/* Media Queries */

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) 
{ 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

    .container {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) 
{ 
  .container {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) 
{ 
  .container {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

 } 