/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/
html { font-size: 1em; }

body { background-image: url("../images/multipaw.jpg"); background-repeat: repeat; font-family: 'Montserrat', Arial, sans-serif; overflow-x: hidden; }
h1, h2, p { font-family: 'Montserrat', Arial, sans-serif; }
h1 { font-weight: 500; }
h2 { font-size: 1.5em; }
ul { margin: 0; }
section { padding-top: 55px; margin-top: -55px; }
section .outer_container { margin-bottom: 30px; background-color: #eeeeee;  }
section .row { margin-left: 0; margin-right: 0; overflow: hidden; }
section h1 { text-transform: uppercase; color: white; margin-top: 0px; margin-bottom: 0px; line-height: 280px; text-align: center; }
.container { margin: 0 auto; }

.center-row { display: table; }
.center-row .center { display: table-cell; vertical-align: middle; }

/*------------------------------------------------------
	IMAGE SLIDER
--------------------------------------------------------*/
.carousel-inner img {max-height: 900px; width: auto; height: auto; object-fit:contain;}
.carousel-caption-left {text-align: left; left: 15% ; right: auto; padding: 5px; top: 5%; bottom: auto;}
.carousel-caption-right {text-align: right; right: 5% ; left: auto; padding: 5px; top: 5%; bottom: auto;}}

/*------------------------------------------------------
	NAVIGATION 
--------------------------------------------------------*/
nav { font-size: 1.2em; font-weight: lighter; }
nav .fa { display: block; text-align: center; margin-bottom: 13px; }

.navbar {
	background: #696969;
	min-height: 85px;	
	border-radius: 0px; 
	border: none; 
	margin-bottom: 0px; 
}

.navbar-default .navbar-nav>li>a {
	padding-bottom: 20px;
	color: white;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .menu ul li a.current {
	color: white;
}

/*------------------------------------------------------
	Project Overview
--------------------------------------------------------*/
#project_overview h1 {background-color: #917876 ; line-height: 100px;}
#project_overview img { padding: 0; }
#overview_content { height: auto; }

/*------------------------------------------------------
	Our Team Styles
--------------------------------------------------------*/
#team .col-md-4 { padding: 5px; }
#team img { margin: 0 auto; margin-bottom: 15px; }
#team h1 { background-color: #917876; }
#team p { text-align: center; }
#team_content { height: 280px; }

/*------------------------------------------------------
	Data Cleaning - ETL Styles 
--------------------------------------------------------*/
.services_buttons .icon-button:last-of-type { margin-bottom: 0; }
.services_buttons .icon-button {
	font-size: 400%;
	color: white;
	background-color: black;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 100%;
	height: 100%;
	max-width: 90px;
	max-height: 90px;
	line-height: 90px;
}

.services_buttons  .icon-button:hover, .services_buttons  .icon-button.active {	background-color: #e98714; }

#services h1 { background-color: #e98714; }
#services .col-md-2 { padding-right: 0; }
#services .fa { line-height: 90px; }
#services_content { height: 280px; }
#services_content .tab-pane {  padding: 15px; }
#services_content a { color: #FFFFFF; }

/*http://cssarrowplease.com/*/
.arrow-box { position: relative; color: white; background-color: #e98714; border-radius: 4px; margin-left: 30px; height: 100%;}
.arrow-left { display: block; width: 30px; height: 58px; background: url(../images/left_arrow.png) no-repeat 0 0; position: absolute; left: 1px; margin-top: 20px; }


/*------------------------------------------------------
	MEDIA QUERIES 
--------------------------------------------------------*/
@media only screen and (min-width: 1200px){
	h1 { font-size: 4.5em; }
	.services_buttons { text-align: right; }
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .menu ul li a.current {
		height: 85px;
	}

	#project_overview .col-md-7 { padding-left: 50px; }
	#project_overview .col-md-8 { padding-left: 20px; }
	#team .col-md-7 { padding-right: 50px; }
	#skills .col-md-7 { padding-right: 90px; }
	#portfolio .col-md-7 { padding-left: 46px; }
	#contact .col-md-7 { padding-left: 50px; }	
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	h1 { font-size: 3.5em; }
	.services_buttons { text-align: right; }
	
	#project_overview .col-md-7 { padding-left: 30px; }
	#project_overview .col-md-8 { padding-left: 20px; }
	#team .col-md-7 { padding-right: 30px; }
	#skills .col-md-7 { padding-right: 30px; }
	#portfolio .col-md-7 { padding-left: 30px; }
	#contact .col-md-7 { padding-left: 30px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	h1 { font-size: 2.5em; }
	nav { font-size: 1em; }
	.btn-primary { font-size: 1.6em; }
	.services_buttons { text-align: left; }

	#project_overview .col-md-8 { padding-left: 0; padding-bottom: 20px; }
	#project_overview img { padding: 0; margin-top: 20px; margin-bottom: 20px;	}
	#services .col-md-2, #services_content { padding-left: 0; padding-top: 20px; height: 300px; }
	#portfolio p { padding: 7.3% 4%; }
	#portfolio .col-md-7, #blog .col-md-7, #contact .col-md-7  { padding-left: 0; padding-top: 20px; }	
	#blog .col-md-7 { padding-right: 0; }
}

@media only screen and (max-width: 767px) and (min-width: 481px) {
	h1 { font-size: 2.5em; }
	nav .fa { display: inline; text-align: left; margin-bottom: 0; margin-right: 10px; }
	.navbar-default .navbar-nav>li>a { padding-top: 15px; padding-bottom: 15px; }

	.btn-primary { font-size: 1.5em; }
	.services_buttons { text-align: left; }
	.services_buttons .icon-button { font-size: 210%; }
	.blog_post img { max-width: 100%; }
	#project_overview .col-md-8 { padding-left: 0; padding-bottom: 20px; }	
	#project_overview img { padding: 0; margin-top: 20px; margin-bottom: 20px; }
	#team_content { width: 100%; }
	#services .col-md-2, #services_content { padding-left: 0; padding-top: 20px; height: 300px; }
	#services_tabs { padding-left: 10px; }
	#portfolio .col-md-7, #blog .col-md-7, #contact .col-md-7 { padding-top: 20px; padding-left: 0; }	
}

@media only screen and (max-width: 480px) {	
	section h1 {	font-size: 1.6em; line-height: 50px; }
	nav .fa { display: inline; text-align: left; margin-bottom: 0; margin-right: 10px; }
	.col-xxs { display:block; float:none; width: 100% }
    .social_buttons { margin-top: 30px; }
    .pull-right { float: left !important; } /*do not pull-right in mobile view*/
   
	.navbar-default .navbar-nav>li>a { padding-top: 15px; padding-bottom: 15px; }	
	.btn-primary { font-size: 1.2em; }	
	.services_buttons { text-align: left; }
	.services_buttons .icon-button { font-size: 190%; }
	.blog_post { width: 50%;}
    .blog_post img { max-width: 100%; }    
	#project_overview .col-md-8 { padding-left: 0; padding-bottom: 20px; }
	#project_overview img { padding: 0; margin-top: 20px; margin-bottom: 20px; }
	#team_content { width: 100%; }
	#services .col-md-2, #services_content { padding-left: 0; padding-top: 20px; height: 300px; }	
	#services_tabs { padding-left: 0; }
	#portfolio .col-md-7, #blog .col-md-7, #contact .col-md-7 { padding-top: 10px; padding-left: 0; }	
}

@media only screen and (max-width: 430px) {
	body { font-size: 10px; }
	.btn-primary { font-size: 1.1em; }	
	.blog_post h2 { font-size: 1.1em; padding: 5px 5px; }
	.services_buttons .icon-button { font-size: 180%; }
	.navbar-default .navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	#services_tabs { padding-left: 0; }
}