/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/
html { font-size: 1em; }

body { font-family: 'Montserrat', Arial, sans-serif; overflow-x: hidden; }
h1, h2, p { font-family: 'Montserrat', Arial, sans-serif; }
h1 { font-weight: 500; }
h2 { font-size: 1.5em; }
ul { margin: 0; }
section { padding-top: 55px; margin-top: -55px; }
section .outer_container { margin-bottom: 30px; background-color: #eeeeee;  }
section .row { margin-left: 0; margin-right: 0; overflow: hidden; }
section h1 { text-transform: uppercase; color: white; margin-top: 0px; margin-bottom: 0px; line-height: 280px; text-align: center; }
.container { margin: 0 auto; }
/*------------------------------------------------------
	NAVIGATION 
--------------------------------------------------------*/
nav{background: #A9A9A9 ;}